<footer class="site-footer">
    <div class="wrapper" style="text-align:center;">
        <a href="https://medium.com/@jayprat95" id="share-icons" class="hvr-float"> <i class="fa fa-medium fa-2x"></i> </a>
        <a href="http://github.com/jayprat95" id="share-icons" class="hvr-float"><i class="fa fa-github-alt fa-2x"></i> </a>
        <a href="https://www.linkedin.com/in/jprathipati" id="share-icons" class="hvr-float"><i class="fa fa-linkedin fa-2x"></i> </a>
        <a href="mailto:jayprat95@gmail.com?Subject=let's%20talk" id="share-icons" class="hvr-float"><i class="fa fa-paper-plane-o fa-2x"></i>  </a>
        <a href="http://www.instagram.com/jayprat95" id="share-icons" class="hvr-float"><i class="fa fa-instagram fa-2x"></i>  </a>

    </div>
</footer>